.login-area {
  margin-top: 100px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 1;
}

#login-bg-color {
  background-color: var(--body-bg-color);
  color: var(--main-font-color);
}

#login-screen-img {
  width: 250px;
}
